<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC55B2EB1D079EA800F7E9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC55B3041D079EA900F7E9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC55B30F1D079EA900F7E9F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
